## Which NYC schools have the best math results?

The best math results are at least 80% of the **maximum possible score of 800** for math.

Save your results in a pandas DataFrame called **best_math_schools**, including **"school_name"** and **"average_math"** columns, sorted by **"average_math"** in descending order.

What are the top 10 performing schools based on the combined SAT scores?

Save your results as a pandas DataFrame called **top_10_schools** containing the **"school_name"** and a new column named **"total_SAT"**, with results ordered by **"total_SAT"** in descending order ("total_SAT" being the sum of math, reading, and writing scores).

Which single borough has the largest standard deviation in the combined SAT score?

Save your results as a pandas DataFrame called **largest_std_dev**.

The DataFrame should contain one row, with:

**"borough"** - the name of the NYC borough with the largest standard deviation of "total_SAT".

**"num_schools"** - the number of schools in the borough.

**"average_SAT"** - the mean of "total_SAT".

**"std_SAT"** - the standard deviation of "total_SAT".

Round all numeric values to two decimal places.

## How to approach the project:
1. **Finding schools with the best math scores:** Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

2. **Identifying the top 10 performing schools:** Find the 10 best performing schools based on the total score across the three SAT sections.

3. **Locating the NYC borough with the largest standard deviation in SAT performance:** Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

In [2]:
# Re-run this cell
import pandas as pd

# Read in the data
schools = pd.read_csv(r"E:\Data Science Course\Projects\3. Exploring NYC Public School Test Result Scores\schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [3]:
schools2 = schools[schools['average_math']>=800*0.8]
pd.set_option('display.max_rows', 20)  # Limit the number of rows displayed
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
print(schools2.head(20))

                                                               school_name  \
0           New Explorations into Science, Technology and Math High School
45                                           Eleanor Roosevelt High School
68   High School for Mathematics, Science, and Engineering at City College
88                                                  Stuyvesant High School
93                                     Staten Island Technical High School
170                                           Bronx High School of Science
174                      High School of American Studies at Lehman College
280                                         Brooklyn Technical High School
333                                            Townsend Harris High School
365                    Queens High School for the Sciences at York College

           borough building_code  average_math  average_reading  \
0        Manhattan          M022           657              601
45       Manhattan          M855           641              617
68       Manhattan          M812           683              610
88       Manhattan          M477           754              697
93   Staten Island          R440           711              660
170          Bronx          X445           714              660
174          Bronx          X905           669              672
280       Brooklyn          K430           682              608
333         Queens          Q515           680              640
365         Queens          Q774           701              621

     average_writing  percent_tested
0                601             NaN
45               631            86.0
68               596            92.6
88               693            97.4
93               670            99.7
170              667            97.0
174              672            91.8
280              606            95.5
333              661            97.1
365              625            97.9

In [4]:
best_math_schools = schools2[['school_name', 'average_math']].sort_values('average_math', ascending=False)
print(best_math_schools.head(20))

                                                               school_name  \
88                                                  Stuyvesant High School
170                                           Bronx High School of Science
93                                     Staten Island Technical High School
365                    Queens High School for the Sciences at York College
68   High School for Mathematics, Science, and Engineering at City College
280                                         Brooklyn Technical High School
333                                            Townsend Harris High School
174                      High School of American Studies at Lehman College
0           New Explorations into Science, Technology and Math High School
45                                           Eleanor Roosevelt High School

     average_math
88            754
170           714
93            711
365           701
68            683
280           682
333           680
174           669
0             657
45            641

In [5]:
schools["total_SAT"] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
print(schools.head(20))

                                                       school_name    borough  \
0   New Explorations into Science, Technology and Math High School  Manhattan
1                                             Essex Street Academy  Manhattan
2                                     Lower Manhattan Arts Academy  Manhattan
3                  High School for Dual Language and Asian Studies  Manhattan
4                    Henry Street School for International Studies  Manhattan
5                                   Bard High School Early College  Manhattan
6                     Urban Assembly Academy of Government and Law  Manhattan
7                                          Marta Valle High School  Manhattan
8                              University Neighborhood High School  Manhattan
9                                           New Design High School  Manhattan
10                                                Pace High School  Manhattan
11           High School for Health Professions and Human Services  Manhattan
12                          High School for Language and Diplomacy  Manhattan
13                       International High School at Union Square  Manhattan
14                           Institute for Collaborative Education  Manhattan
15                                       Gramercy Arts High School  Manhattan
16                           Urban Assembly New York Harbor School  Manhattan
17                        Richard R. Green High School of Teaching  Manhattan
18                                          Millennium High School  Manhattan
19               Urban Assembly School of Business for Young Women  Manhattan

   building_code  average_math  average_reading  average_writing  \
0           M022           657              601              601
1           M445           395              411              387
2           M445           418              428              415
3           M445           613              453              463
4           M056           410              406              381
5           M097           634              641              639
6           M445           389              395              381
7           M025           438              413              394
8           M446           437              355              352
9           M445           381              396              372
10          M131           430              435              427
11          M475           452              445              430
12          M460           446              433              411
13          M460           403              330              316
14          M475           501              550              541
15          M460           446              459              455
16          M877           446              453              428
17          M282           411              415              409
18          M824           577              560              567
19          M282           418              420              417

    percent_tested  total_SAT
0              NaN       1859
1             78.9       1193
2             65.1       1261
3             95.9       1529
4             59.7       1197
5             70.8       1914
6             80.8       1165
7             35.6       1245
8             69.9       1144
9             73.7       1149
10            87.8       1292
11            86.9       1327
12            70.2       1290
13            53.2       1049
14            78.6       1592
15            79.6       1360
16            78.8       1327
17            60.0       1235
18            94.0       1704
19             NaN       1255

In [6]:
schools3=schools[['school_name', 'total_SAT']].sort_values('total_SAT', ascending=False)
print(schools3.head())

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981

In [7]:
top_10_schools = schools3.head(10)
print(top_10_schools)

                                                               school_name  \
88                                                  Stuyvesant High School
170                                           Bronx High School of Science
93                                     Staten Island Technical High School
174                      High School of American Studies at Lehman College
333                                            Townsend Harris High School
365                    Queens High School for the Sciences at York College
5                                           Bard High School Early College
280                                         Brooklyn Technical High School
45                                           Eleanor Roosevelt High School
68   High School for Mathematics, Science, and Engineering at City College

     total_SAT
88        2144
170       2041
93        2041
174       2013
333       1981
365       1947
5         1914
280       1896
45        1889
68        1889

In [8]:
schools4 = schools.groupby('borough')['total_SAT'].agg(["count", "mean", "std"]).round(2)
print(schools4.head())

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30

In [9]:
large_std_dev = schools4[schools4['std']==schools4['std'].max()]
print(large_std_dev.head())

           count     mean     std
borough
Manhattan     89  1340.13  230.29

In [10]:
largest_std_dev = large_std_dev.rename(columns={'count':'num_schools', 'mean':'average_SAT', 'std':'std_SAT'})
print(large_std_dev)

           count     mean     std
borough
Manhattan     89  1340.13  230.29